h2 {
    color: rgb(19, 19, 207);
}

p {
    color: rgb(116, 46, 46);
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(100, 100, 100);
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

caption {
    margin-bottom: 8px;
    font-weight: 600;
}

#outer {
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

#inner {
    display: flex;
    gap: 10px;
}

.inner {
    height: 50px;
    width: 50px;
    background: #4f46e5;
    border-radius: 8px;
}
.box {
    height: 100px;
    width: 100px;
    background: #34d399;
    border: 2px solid #065f46;
    margin: 10px;
    display: inline-block;
}
#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    text-align: center;

}
#container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;

}
.container1{
    width: 600px;
    height: 300px;
    background-color: lightcoral;

}
.item1{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
}