

    
   

    h2 {
        color: rgb(19, 19, 207);
    }
    p{
        color: rgb(116, 46, 46);        
    }
    button {
        color: rgb(255, 255, 255);
        background-color: rgb(100, 100, 100);
    }
