h2 {
    color: rgb(19, 19, 207);
}

p {
    color: rgb(116, 46, 46);
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(100, 100, 100);
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

caption {
    margin-bottom: 8px;
    font-weight: 600;
}

#outer {
   height : 200px;
   width: 70;
   border: 
}

#inner {
    display: flex;
    gap: 10px;
}

.inner {
    height: 50px;
    width: 50px;
    background: #4f46e5;
    border-radius: 8px;
}
