.container{
    width: 600px;
    height: 300px;
    background-color: lightcoral;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    padding: 10px;
    margin: 20px auto;
    box-sizing: border-box;
}
.item{
    background-color: lightblue;
    border: 2px solid black;
    text-align: center;
    display: grid;
    place-items: center;
}