body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #fff;
  background-color: #000;
  overflow: hidden;

  
}
.main{
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}
.sidebar{
  background-color: black ;
  width: 340px;
  border-radius: 1rem;
}
 
.main-content{
  background-color: #121212  ;
  flex: 1;
  border-radius: 1rem;
}
.music-player{
  background-color: black ;
  position:fixed;
  bottom:0;
  width:100% ;
  height: 72px;    
}
a{
  text-decoration:none;
  color: #fff
}
.nav{
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
}
.nav-option{
  line-height:2.5rem;
}
.nav-option {
  line-height:1.5rem ;

}
.nav-option i{
  font-size: 1.25rem;
  
}
.nav-option span{
  
}
.library{
  background-color:#121212;
  border-radius: 1rem ;
  height: 100%;
  margin-top:0.75rem;
  padding: 0.5rem 0.75rem;
}
.options{
  display:flex;
  justify-content:space-between ;
  align-items:center;
  
}
.lib-option img{
  height: 1.25rem;
  width: 1.25rem;
}
.icons{
  font-size: 1.25rem;
  opacity: 0.7;
  margin-right: 1rem;
  display:flex ;
}
.icons i{
  opacity: 0.7;
  margin-right: 1rem;
}
.icons i:hover{
  opacity: 1;
  margin-right: 1rem;   
}
.box{
  height: 8rem;
  background-color: grey;
}
