body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #fff;
  background-color: #000;
  overflow: hidden;

  
}
.main{
  display: flex;
  height: 100vh;
}
.sidebar{
  background-color: black ;
  width: 340px;
  border-radius: 1rem;
}
 
.main-content{
  background-color: #121212  ;
  flex: 1;
  border-radius: 1rem;
}
.music-player{
  background-color: black ;
  position:fixed;
  bottom:0;
  width:100% ;
  height: 72px;    
}
a{
  text-decoration:none;
  color: #fff
}
.nav{
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem; ;
}
.nav-option{
  line-height:2.5rem;
}
.nav-option {
  line-height:2.5rem ;

}
.nav-option:hover{
  line-height:2.5rem;
  
}
